# To ignore a directory, use "/" at the end, to ignore a file, just type the file name.
__pycache__/
uploaded_pdfs/
flask_session/
instance/
.env
uploaded_files/
alembic.ini


# Virtual environments
env/
venv/
.venv/