body {
    padding-top: 60px;
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
}

#recaptcha-container {
    display: flex;
    justify-content: center;
}


#elements-container .element-block {
    margin: 5px;
    padding: 10px;
    background-color: #790000;
    cursor: pointer;
}

#overlay .draggable {
    /* Your draggable styles */
    border: 1px solid #000;
    background-color: rgba(0, 255, 255, 0.425);
    cursor: move;
    padding: 10px;
    width: 100px;
    height: 50px;
}

#pdf-display {
    position: relative;
}

.overlay {
    border: 2px dashed red;
    /* Temporary for visualization */
    z-index: 10;
    /* Ensure it's on top */
}

canvas {
    position: relative;
    z-index: 1;
    /* Ensure it's below the overlay */
}

.non-interactive {
    pointer-events: none;
}

.toolbox {
    position: -webkit-sticky;
    /* For Safari */
    position: fixed;
    /* top: 10; */
    z-index: 1000;
    /* Ensure it stays on top */
    background-color: rgb(22, 21, 21);
    /* Optional: to match your page background */
    overflow-y: auto;
    /* Enable scrolling within the toolbox */
}

.vertical-column-home {
    background-color: #2b3035;
    display: flex;
    flex-direction: column;
    width: 100px;
    bottom: 0;
    position: fixed;
    top: 139px;
    right: 0%;
    border-top-style: solid;
    border-top-color: #2b3035;
    border-left-style: solid;
    border-left-color: white;
    border-width: 1px;
    z-index: 55;
}

.horizontal-column-home {
    background-color: #2b3035;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    height: 75px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: white;
    border-width: 1px;
    z-index: 50;
}

.vertical-column-link {
    background-color: #2b3035;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.vertical-column-link:hover {
    background-color: #790000;
}

/* .vertical-column-link i {
    font-size: 15;
} */

.vertical-column-link div {
    font-size: 14;
}