body {
    padding-top: 60px;
    background-color: #212529;
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
}

#recaptcha-container {
    display: flex;
    justify-content: center;
}

#overlay .draggable {
    /* Your draggable styles */
    border: 1px solid #000;
    background-color: rgba(0, 255, 255, 0.425);
    cursor: move;
    padding: 10px;
    width: 100px;
    height: 50px;
}

.pdf-container {
    display: flex;
    justify-content: center;
    position: fixed;
    flex: 1;
    margin-top: 60px;
    /* padding-top: 125px; */
    overflow-y: auto;
    overflow-x: auto;
    /* Enable vertical scrolling */
    max-height: 80vh;
    right: 480px;
    left: 0px;
    /* Adjust height as needed */
    transition: all 0.75s;
}

.extended {
    display: flex;
    justify-content: center;
    position: fixed;
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
    /* Enable vertical scrolling */
    max-height: 80vh;
    right: 110px;
    left: 0px;
    /* Adjust height as needed */
    transition: all 0.75s;
}

#pdf-display {
    position: relative;
    display: block;
}

.overlay {
    border: 2px dashed red;
    /* Temporary for visualization */
    z-index: 10;
    /* Ensure it's on top */
}

canvas {
    position: relative;
    z-index: 1;
    display: block;
    /* Ensure it's below the overlay */
    margin-bottom: 15px;
    /* Add space between pages */
}


.non-interactive {
    pointer-events: none;
}

.vertical-column-wrapper {
    background-color: #60d3e7;
    display: flex;
    flex-direction: row;
    width: 475px;
    bottom: 0;
    position: fixed;
    top: 119px;
    right: 0px;
    border-top-style: solid;
    border-top-color: #2b3035;
    border-left-style: solid;
    border-left-color: white;
    border-width: 1px;
    z-index: 55;
    transition: all 0.75s;
    flex-shrink: 0;
}

.vertical-column-home {
    background-color: #2b3035;
    display: flex;
    flex-direction: column;
    width: 100px;
    bottom: 0;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-style: solid;
    border-top-color: #2b3035;
    border-left-style: solid;
    border-left-color: white;
    border-width: 1px;
    z-index: 55;
    transition: all 0.75s;
    /* margin-right: 10px; */
}

.collapsed {
    background-color: #60d3e7;
    display: flex;
    flex-direction: row;
    width: 475px;
    bottom: 0;
    position: fixed;
    /* top: 139px; */
    right: -375px;
    border-top-style: solid;
    border-top-color: #2b3035;
    border-left-style: solid;
    border-left-color: white;
    border-width: 1px;
    z-index: 55;
    transition: all 0.75s;
}


.horizontal-column-home {
    background-color: #2b3035;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    height: 55px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: white;
    border-width: 1px;
    z-index: 50;
}

.vertical-column-link {
    background-color: #2b3035;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    flex-shrink: 0;
}

.vertical-column-link:hover {
    background-color: #790000;
}

/* .vertical-column-link i {
    font-size: 15;
} */

.vertical-column-link div {
    font-size: 14;
}

.sidepanel {
    background-color: rgb(104, 255, 44);
    display: flex;
    flex: 1;
    position: relative;
    top: 0;
    height: 100vh;
}

/* .toolbox {} */

.edit-document {
    position: absolute;
    top: 5px;
    right: 30%;
}

#elements-container {
    background-color: blueviolet;
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    top: 40px;
    justify-content: center;
    align-content: flex-start;
    padding-top: 25px;
}

#elements-container .element-block {
    flex: 0 0 150px;
    margin: 5px;
    /* padding: 10px; */
    background-color: #790000;
    cursor: pointer;
    height: 70px;
}

.readonly {
    pointer-events: none;
}




.resize-handle {
    width: 15px;
    height: 15px;
    background-color: blue;
    /* or any color you prefer */
    border-radius: 50%;
    position: absolute;
    right: -5px;
    bottom: -5px;
    cursor: se-resize;
}

textarea {
    width: 100%;
    /* or a fixed width like 300px */
    box-sizing: border-box;
    resize: none;
}

#text-box-customize-container {
    background-color: rgb(43, 46, 226);
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding-top: 25px;
}

.text-box-customize-header {
    position: absolute;
    top: 5px;
    align-self: center;
    margin: 0px;
}

.text-box-customize-option {
    flex: 0 0 150px;
    margin-top: 10px;
    margin: 5px;
}

.align-option {
    flex: 0 0 75px;
    margin: 10px;
}

#shape-customize-container {
    background-color: rgb(226, 43, 144);
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding-top: 25px;
}

.shape-customize-header {
    position: absolute;
    top: 5px;
    align-self: center;
    margin: 0px;
    margin-bottom: 11px;
}

.shape-customize-row {
    display: flex;
    align-items: center;
    /* Center items vertically */
    justify-content: center;
    /* Center items horizontally */
    width: 100%;
}

.shape-customize-option {
    flex: 0 0 75px;
    margin: 10px;
    align-items: center;
    /* Center items vertically */
    justify-content: center;
    /* Center items horizontally */
}

.shape-customize-row label {
    padding-bottom: 4px;
    /* used this to align the label text with the input box, the elements were alligned but the positioning of the text itself was a bit too low.*/
}

#signatureField-customize-container {
    background-color: rgb(233, 92, 26);
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding-top: 25px;
}

.signatureField-customize-header {
    align-self: center;
    margin: 0;
}

.signatureField-customize-row {
    display: flex;
    align-items: center;
    /* Center items vertically */
    justify-content: center;
    /* Center items horizontally */
    width: 100%;
}

.signatureField-customize-option {
    flex: 0 0 75px;
    margin: 10px;
    align-items: center;
    /* Center items vertically */
    justify-content: center;
    /* Center items horizontally */
}

.signatureField-customize-row label {
    padding-bottom: 4px;
    /* used this to align the label text with the input box, the elements were alligned but the positioning of the text itself was a bit too low.*/
}

#signature-preview {
    width: 90%;
    height: auto;
    min-height: 70px;
    /* Allow height to adjust based on content */
    box-sizing: border-box;
    display: grid;
    align-items: center;
    /* Center vertically */
    padding: 10px;
    /* Add some padding for better appearance */
    background-color: white;
    margin-bottom: 10px;
    color: black;
    /* changes text color inside a div apparently */
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#signature-content {
    width: 100%;
    text-align: center;
    /* Default to center horizontally */
}


@font-face {
    font-family: 'Parisienne';
    src: url('/static/fonts/Parisienne-Regular.ttf') format('truetype');
}