#recaptcha-container {
    display: flex;
    justify-content: center;
}


#elements-container .element-block {
    margin: 5px;
    padding: 10px;
    background-color: #790000;
    cursor: pointer;
}

#overlay .draggable {
    /* Your draggable styles */
    border: 1px solid #000;
    background-color: rgba(0, 255, 255, 0.425);
    cursor: move;
    padding: 10px;
    width: 100px;
    height: 50px;
}

#pdf-display {
    position: relative;
}

.overlay {
    border: 2px dashed red;
    /* Temporary for visualization */
    z-index: 10;
    /* Ensure it's on top */
}

canvas {
    position: relative;
    z-index: 1;
    /* Ensure it's below the overlay */
}

.non-interactive {
    pointer-events: none;
}