{% extends "layout.html" %}

{% block title %}
Edit document here
{% endblock %}

{% block main %}
<div class="container-fluid mb-4">
    <h5>Supported files include: PDF and Word</h5>
</div>
<div class="container-fluid mb-4">
    <div id="pdf-display" class="container-fluid mb-4"></div>
</div>
<!-- <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script> -->
<script src="{{ url_for('static', filename='js/build/pdf.mjs') }}" type="module"></script>
<script>
    var url = 'http://127.0.0.1:5000/static/uploaded_files/' + "{{ folder }}" + '/' + '{{ document.filename }}';
</script>
<script src="{{ url_for('static', filename='js/displayingPDF.js') }}" type="module"></script>
{% endblock %}