{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

<div id="features-container" class="features-section">
    <div class="features-block">
        <h1 class="feature-header">Cybersecurity</h4>
            <img src="https://placehold.co/550x225" class="feature-image" alt="Placeholder Image">
            <ul class="custom-list-group list-group">
                <li class="list-group-item">Learned server side & front end authentication.</li>
                <li class="list-group-item">Learned how to protect agianst CSRF and XSS attacks.</li>
                <li class="list-group-item">Learned how to protect against HTML/JS injection attacks</li>
                <li class="list-group-item">Learned to check MIME type of files to ensure only appropriate file types are being uploaded and stored in database with a sanitized filename.</li>
                <li class="list-group-item">Learned to use a .env file for sensitive information (such as API keys) that should not be included in version control.</li>
            </ul>
    </div>
    <div class="features-block">
        <h1 class="feature-header">Languages and Frameworks</h4>
            <img src="https://placehold.co/550x225" class="feature-image" alt="Placeholder Image">
            <ul class="custom-list-group list-group">
                <li class="list-group-item">Utilized my python knowledge gained from CS50 as well as asking the AI for extra lessons to improve my flask setup.</li>
                <li class="list-group-item">Used Bootstrap for a few things such as the navbar and dark theme, however I ended up watching tutorials and asked the AI for extra lessons to gain a better
                    understanding of flexboxes, grids,
                    nested layouts, position and display attributes, etc.</li>
                <li class="list-group-item">In order to understand the PDF libraries I was using, I watched tutorials, read documentation, and asked AI for extra lessons in Javascript to improve my
                    skills greatly since learning the basics in CS50. Thanks to this, I was able to make use of async/await, promises, and was able to use this to create a RESTful API structure for my
                    web app.</li>
            </ul>
    </div>
    <div class="features-block">Version Control</div>
    <div class="features-block">Solving a Problem</div>
    <!-- Add more blocks as needed -->
</div>

{% endblock %}