{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

<div class="horizontal-column-home">
    <div>
        test 1
    </div>
</div>
<div class="vertical-column-home">
    <div class="vertical-column-link">
        <i class='bx bx-menu bx-md' style='color:#ffffff'></i>
    </div>
    <div class="vertical-column-link">
        <i class='bx bx-grid-alt bx-md' style='color:#ffffff'></i>
        <div>Elements</div>
    </div>
    <div class="vertical-column-link">
        <i class='bx bx-test-tube bx-md' style='color:#ffffff'></i>
        <div>Test</div>
    </div>
    <div class="vertical-column-link">
        <i class='bx bx-test-tube bx-md' style='color:#ffffff'></i>
        <div>Test</div>
    </div>
    <div class="vertical-column-link">
        <i class='bx bx-test-tube bx-md' style='color:#ffffff'></i>
        <div>Test</div>
    </div>
</div>
<div style="height:3000px">

</div>

<!-- <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
    <div class="bg-dark p-4">
        <h5 class="text-body-emphasis h4">Collapsed content</h5>
        <span class="text-body-secondary">Toggleable via the navbar brand.</span>
    </div>
</div>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav> -->

<!-- 
<div class="container-fluid edit-doc" id="sidebar-container">
    <div class="row">
        <div class="col-auto" id="sidebar">
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="sidebar-content"> -->
<!-- Add some content here to make the sidebar visible -->
<!-- <p>Sidebar content</p>
</div>
</nav>
</div>
<div class="col" id="navbarToggleExternalContent" data-bs-theme="dark">
    <div class="bg-dark p-4">
        <h5 class="text-body-emphasis h4">Collapsed content</h5>
        <span class="text-body-secondary">Toggleable via the navbar brand.</span>
    </div>
</div>
</div>
</div> -->



<script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
{% endblock %}